DEBUG=False
ALLOWED_HOSTS=["centinela.epn.edu.ec","localhost","127.0.0.1"]
PROJECT_NAME=Centinela Predictivo de Publicaciones Cientificas
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["https://centinela.epn.edu.ec"]

# Ruta dentro del contenedor donde estarán los CSV requeridos por el GRS:
# articulos_ecuador_CLEAN.csv, autor_articulo_CLEAN.csv, topic_article_CLEAN.csv
CENTINELA_DATA_PATH=/app/data

# Períodos usados por el GRS para identificar grupos persistentes de autores
GRS_PERIOD1_START=2020
GRS_PERIOD1_END=2022
GRS_PERIOD2_START=2023
GRS_PERIOD2_END=2025
